body {
    background-color:snow;
    font-family:'Times New Roman', Times, serif;
}

#container {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    width:fit-content;
    border: 3px solid black;
    padding: 10px;
}

.box { 
    border: 2px solid red;
    justify-content: center;
}